################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/I_repeat_myself/.vs/I_repeat_myself/v15/Browse.VC.opendb
