################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/I_repeat_Myself
